<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      Welcome to My Blog! Thank you for registering. You have joined a great community. Take a few moments to explore the site. As a registered user, you can:
      </p>
      <ul>
        <li>Create New Blog Post</li>
        <li>Edit Your Post</li>
        <li>Delete Your Post</li>
      </ul>

      <p>Thank you again for joining and we look forward to the wonderful contributions you will make to My Blog.</p>

  </body>
</html>