

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <!-- this will link to post and put the post path -->
    <h2 class="title"><%=link_to post.title, post %></h2>
    <!-- use.strftime("%B, %d, %Y") to show actual date -->
    <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
  </div>
<%end %>